<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{title}} - VisualOfficeApp-Python</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="{{ url_for('static', filename='scripts/jquery-3.6.0.min.js') }}"></script>
</head>
<body>
	<!-- Menu -->
	<nav class="navbar navbar-light" style="background-color: #ffffff">
		<a class="navbar-brand" href="/">
			<img src="{{ url_for('static', filename='images/eye.png') }}" width="64" height="64" class="d-inline-block align-top" alt="">
			Visual Office
		</a>
	</nav>
<div class="container body-content">
{% block content %}
{% endblock %}
<hr />
<footer class="page-footer font-small">
	<div class="footer-copyright text-center py-3">
		Михаил Андросов - 2022 г.
	</div>
</footer>
</div>
</body>
</html>