{% extends "base.html" %}
{% block content %}
<h1 class="display-4">Сотрудник офиса № {{ user.id }}</h1>
<br />
<form method="post" action="/edit/{{user.id}}" class="needs-validation" novalidate>
    <input type="hidden" value="{{ user.id }}" name="id" />
    <input type="hidden" value="{{ user.manager_id }}" name="manager_id" />
    <!-- Text boxes -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Руководитель</span>
        </div>
        <input type="text" name="manager.name" value="{{ manager.name }}" class="form-control" required />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ФИО</span>
        </div>
        <input type="text" name="name" value="{{ user.name }}" class="form-control" required />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Должность</span>
        </div>
        <input type="text" name="position" value="{{ user.position }}" class="form-control" required />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Возраст</span>
        </div>
        <input type="text" name="age" value="{{ user.age }}" class="form-control" required />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Почта</span>
        </div>
        <input type="text" name="email" value="{{ user.email }}" class="form-control" required />
    </div>
    <br />
    <!-- Save button -->
    <p><input type="submit" value="Сохранить" class="btn btn-dark btn-lg btn-block" /></p>
    <span class="badge badge-success">{{success}}</span>
    <!--<span class="badge badge-danger">@ViewBag.Bad</span>-->
</form>
{% endblock %}